.plusButton {
    background-color: #4a90e2;
    color: white;
    height:50px;
    margin: 5px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 35px;
    text-align: center;
    border: 1px solid #e1e1e1;
  }